.login-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: #ffffff;
  gap: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  width: 30%;
}

.org-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.org-container p {
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
  color: rgb(55 65 81);
  font-weight: 400;
}
.bg-icon {
  background: #4f46e5;
  padding: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.input-field-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #374151;
  border-radius: 8px;
}
.input-field-container:focus-within {
  box-shadow: 0 0 0 2px #6ab0ff;
  border: 1px solid #6ab0ff;
}

.input-field-container input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  outline: none;
}

.form-group label {
  color: #374151;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.form-group button {
  background: #4f46e5;
  padding: 0.7rem;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.5rem 0rem;
}

.span-text {
  /* color: rgba(0, 0, 0, 0.6); */
  text-align: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
}
.sign-in {
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
