.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background: plum; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  background: white;
}
.logo {
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.nav-container nav ul {
  display: flex;
  /* justify-content: space-between; */
  /* width: 50%; */
  gap: 2rem;
}

.nav-container nav ul li {
  list-style-type: none;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 0.5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
}
.nav-link:hover {
  /* color: #4a90e2; */
  color: #f52cf9;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #4a90e2;
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}

.logout-btn-container {
  display: flex;
  gap: 1rem;
}

.user-btn {
  background-color: #4f46e5;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.active {
  background: #f52cf9;
  color: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  border: none;
}
.active:hover {
  color: #fff;
}
