.search-dropdown-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.search-container {
  width: 50%;
}
.search-container input {
  padding: 0.5rem;
  min-width: 230px;
}

.filter-container {
  width: 50%;
}

.filter-container select {
  padding: 0.5rem;
  min-width: 230px;
}
.category-table-container {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  overflow-x: auto;
  width: 100%;
  background: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  /* background-color: #fff; */
  background-color: var(--bg-dark);
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  overflow-x: auto !important;
  min-width: 100%;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

tr:hover {
  background-color: #beccdd;
}

.edit-btn,
.delete-btn {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  transition: all 0.2s ease;
}

.edit-btn {
  background-color: rgb(75, 174, 79);
  color: white;
  cursor: pointer;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #2980b9;
  transform: translateY(-1px);
}

.delete-btn:hover {
  background-color: #c0392b;
  transform: translateY(-1px);
}

.btn-save {
  background-color: #2196f3;
  color: white;
  transform: translateY(-1px);
  transition: all 0.2s ease;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #1976d2;
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.btn-cancel {
  background-color: #9e9e9e;
  color: white;
  border-radius: 4px;
  border: none;
  transform: translateY(-1px);
  transition: all 0.2s ease;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #757575;
}

.editable-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #4a90e2;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  transition: all 0.2s ease;
  cursor: pointer;
}

.readonly-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: not-allowed;
  color: #666;
}

.column-direction {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
