.main-common-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* height: 100vh; */
  background: #f1f3f6;
}

.main-sub-cont {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  gap: 4rem;
}
.filter-part {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 500px;
  min-width: 150px;
  padding: 0.7rem;
  border-radius: 4px;
  position: sticky;
  top: 50px;
  width: 20%;
  gap: 1rem;
}

.products-parts {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  width: 80%;
  /* background: #fff; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.categories-filter {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  margin-left: 0.875rem;
  margin-top: 1rem;
}
.categories-filter h5:hover {
  background: #4b5563;
  color: white;
  color: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 4px;
  border: none;
  /* padding: 0.5rem; */
}

.filter-container-details {
  display: flex;
  flex-direction: column;
  /* background: blue; */
  padding: 1rem;
  /* gap: 1rem; */
}

.each-filter {
  margin: 0.6rem 0rem;
  cursor: pointer;
}

.each-filter p {
  color: oklch(0.714 0.203 305.504);
}
.each-filter h5:hover {
  color: #fff;
  background: #1a1a2e;
  border-radius: 4px;
  width: 100%;
  padding: 0.3rem;
}
.active-filter {
  background: #1a1a2e;
  border-radius: 4px;
  color: #fff !important;
  width: 100%;
  padding: 0.3rem;
}
.active-color {
  color: #fff !important;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
  gap: 1rem;
}

.pagination-container button {
  padding: 0.3rem;
  /* border-radius: 6px;
  border: 2px solid #1a1a2e; */
}

.search-field {
  padding: 0.4rem;
  margin-bottom: 10px;
}
