* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  /* text-align: center; */
  margin: 0px;
}

.spinner {
  /* width: 50px;
  height: 50px; */
  border: 3px solid #f3f3f3;
  border-top: 3px solid #4a90e2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  /* margin-bottom: 16px; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
